@model pryecto.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Liebeslied</title>
    <link rel="stylesheet" type="text/css" href="~/Resources/CSS/estilosDetalle.css" />
    <link rel="icon" type="image/png" href="~/Resources/img/favicon.ico" />
</head>
<body>
    <div>
        <h4>User</h4>
        <dl class="dl-horizontal">
            <dt>
                Nombre
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                Fecha de alta
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DischargeDate)
            </dd>
    
            <dt>
                Edad
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Nif }) |
        @Html.ActionLink("Volver", "Index")
    </p>
</body>
</html>
