@model IEnumerable<pryecto.Models.User>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Liebeslied</title>
    <link rel="stylesheet" type="text/css" href="~/Resources/CSS/estilosUsers.css" />
    <link rel="icon" type="image/png" href="~/Resources/img/favicon.ico" />
</head>
<body>
    <p>
        @Html.ActionLink("Registrar Usuario", "Create")
        <br/>
        @Html.ActionLink("Canciones", "Index", "Songs")
    </p>
    <table class="table" border="1">
        <tr>
            <th>
                ID
            </th>
            <th>
                Fecha de Alta
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nif)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DischargeDate)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Nif }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.Nif }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Nif })
        </td>
    </tr>
    }
    
    </table>
</body>
</html>
