@model pryecto.Models.Song

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Liebeslied</title>
    <link rel="stylesheet" type="text/css" href="~/Resources/CSS/estilosDetalle.css" />
    <link rel="icon" type="image/png" href="~/Resources/img/favicon.ico" />
</head>
<body>
    <div>
        <h2>@Html.DisplayFor(model => model.Name)</h2>
        <dl class="dl-horizontal">
            <dt>
                Autor
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Author)
            </dd>

            <dt>
                Título
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                Género
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Genre)
            </dd>

            <dt>
                Duracion
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Duration)
            </dd>


            <dt>
                Id del Publicante
            </dt>

            <dd>
                <!--Convertimos el id del publicante en un enlace-->
                @{
                    string usuario = Model.PublisherId.ToString();
                    int idUsuario = Model.PublisherId;
                }
                

                <a href="/Users/Details/@idUsuario">@usuario</a>
            </dd>

            <dt>
                Letra
            </dt>

            <dd id="letra">
                @Html.DisplayFor(model => model.Lyrics)
            </dd>


        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.idCancion }) |
        @Html.ActionLink("Volver", "Index")
    </p>
</body>
</html>
