@model IEnumerable<pryecto.Models.Song>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/Resources/CSS/estilosSongs.css"
</head>
<body>
    <p>
        @Html.ActionLink("Añadir Cancion", "Create")
        <br/>
        @Html.ActionLink("Ir a Usuarios", "Index", "Users")
    </p>
    <table class="table">
        <tr>
            <th>
                Autor
            </th>
            <th>
                Nombre
            </th>
            <th>
                Género
            </th>
            <th>
                Duración 
            </th>
            <th>
                Letra
            </th>
            <th>
                ID Publicante
            </th>
            <th>
                Controles
            </th>
        </tr>
    
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
            segundos
        </td>
        <td>
            <!--Ponemos disponible o No disponible según tenga letra o no-->
            @{
                string letra = "";
                if (item.Lyrics != null) { letra = "Disponible"; }
                else { letra = "No disponible"; }
            }

            @letra
        </td>
        <td>
            @{
                int usuario = item.PublisherId;
            }


            <a href="/Users/Details/@usuario">@usuario</a>
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.idCancion }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.idCancion }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.idCancion })
        </td>

    </tr>
    }
    
    </table>
</body>
</html>
